*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face {
  font-family: 'Roboto';
  src: url(Roboto/LICENSE.txt);
}
body {
  background-color: #1b1919;
  font-family: 'Roboto', sans-serif;
}

a {
    transition: 0.3s;
}
nav {
  background-color: #0c0909;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  /*box-shadow: 0 0.1rem 0.5rem #ccc;*/
  width: 100%;
  height: 15%;
  transition: all 0.5s;
  position: fixed;
  z-index: 999;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.nav_header {
    padding: 1rem;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav_logo {
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
}

.nav_logo .logo .logo2 {
  text-align: center;
}
.nav_logo span{
  color: white;
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.nav_links {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: #333;
    transition: 0.8s;
    z-index: 1;
    transform: translateY(-150%);
}
.nav_links.open {
    transform: translateY(-11%);
}
.nav_links a {
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-weight: 500;
  transition: all 0.5s;
}
.nav_links a:hover {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu{
  
  display: none;
  
}
@media (width > 768px) {
  nav {
      position: static;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
  }
  .nav_header {
      padding: 0;
      background-color: transparent;
  }
  .nav_logo {
    cursor: pointer;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    
    
  }
  
  .nav_logo .logo .logo2 {
    text-align: center;
  }
  .nav_logo span{
    color: white;
  }
  .nav_menu_btn {
      display: none;
  }
  .nav_links {
      position: static;
      padding:0;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
      background-color: transparent;
      transform: none;
    }
  .nav_links a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
.dropdown-menu{
    position:absolute;
    display: none;
   
}
.dropdown-menu a{
    display: block;
    
}
.dropdown:hover  .dropdown-menu {
    display: block;
    
}
.dropdown:hover .dropdown-menu span {
    display: flex;
    
}
.dropdown:hover .dropdown-menu a {
    border: 2px solid gray;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    
}
.dropdown:hover .dropdown-menu a:hover {
    background-color: gray;
    color: white;
}
.inicio {
  display: flex;
}
.inicio::after {
  background-size: cover;
  /* background-repeat: no-repeat    ; */
  /* background-image: ; */

  content: "";
  position: absolute;
  height: 80rem;
  width: 110%;
  position: fixed;
  
}
.inicio .imagem-fundo {
  width: 100%;
  height: 1000px;
  
}
.inicio .frases {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 100px 150px;
  z-index: 1;
  color: white;
}
.texto1 {
  top: 100px;
  padding: 120px 0px;
  width: 400px;
  height: 260px;
  font-size: 40px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000;


}
.texto2 {
  /* text-align: justify; */
  width: 500px;
  height: 400px;
  font-size: 48px;
  
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000;


}


.sobre .conversando {
  /* object-fit: cover; */
  width: 500px;
  height: 700px;
  margin: 42px 111px 150px 919px;
}
.sobre {
  display: flex;
  position: relative;
  background-color:#1b1919;;
  color: black;
}
.sobre .frases2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;

  color: black;
  padding: 80px;
}
.sobre2 .conversando {
  /* object-fit: cover; */
  width: 925px;
  height: 880px;
  margin: -85px 0px 73px 743px;
}
.sobre2 {
  display: flex;
  position: relative;
  background-color:#111010;;
  color: black;
}
.sobre2 .frases2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;

  color: black;
  padding: 80px;
}
.texto3{
  width: 500px;
  height: 380px;
  font-size: 30px;
  color: #fff;
  text-align: justify;
  line-height: 40px;
}
.texto4 {
  width: 500px;
  height: 350px;
  font-size: 30px;
  color: #fff;
  text-align: justify;
  line-height: 40px;
}

.texto6 {
  width: 400px;
  height: 400px;
  font-size: 30px;
  text-align: justify;
}
.titusobre {
  width: 400px;
  height: 100px;
  font-size: 40px;
}
.falando {
  display: flex;
  position: relative;
  background-color:#000000;;
  width: 100%;
  height: 100%;
}
.falando .container {
  object-fit: cover;
  margin: 270px 143px 46px 81px;
  position: relative;
}
.frases3 .texto7 {
  width: 550px;
  height: 700px;
  font-size: 40px;
  position: relative;
  margin: 60px 250px;
  color: white;
  line-height: 60px;
  
  
}
.titulo7 {
  width: 200x;
  height: 70px;
  font-size: 40px;
  position: relative;
  margin-left: 290px;
  margin-top: 100px ;
  color: white;
  
}   
.titulo8 {
  width: 200x;
  height: 41px;
  font-size: 40px;
  position: relative;
  margin: 10px 10px;
  color: white;
}

.text-h1-2 {
  font-size: 3rem;
  color: #eddddd;
  align-items: center;
  padding: 356px 10%;
  font-weight: 20;
  text-align: center;
}


.home-btn2 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5% 21.5%;
  color: #EDDDDD;
  border-radius: 20px;
}
.home-btn2:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}
.home-btn2-2 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 19.5%;
  color: #EDDDDD;
  border-radius: 20px;
}
.home-btn2-2:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}

.text-h1-2-2 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  padding: 1%;
  font-weight: 20;
  text-align: center;
}

.home-btn2-2:hover{
  cursor: pointer;
}



.text-h1-3 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  padding: 13%;
  font-weight: 20;
  text-align: center;
}
.home-btn3 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 18%;
  border-radius: 20px;
  color: #EDDDDD;
}
.home-btn3:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}   
.home-btn3-3 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 9.6%;
  border-radius: 20px;
  color: #EDDDDD;
}
.text-h1-3-3 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  font-weight: 20;
  text-align: center;
}

.home-btn3-3:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}

.home-btn3-3-3 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 17.2%;
  border-radius: 20px;
  color: #EDDDDD;
}
.text-h1-3-3-3 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  padding: 13%;
  font-weight: 20;
  text-align: center;
}

.home-btn3-3-3:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}


.text-h1-4 {
  font-size: 3rem;
  align-items: center;
  padding: 15% 10%;
  font-weight: 20;
  text-align: center;
}
.text-h1-4 a {
  color: #EDDDDD;
}


.home-btn4 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 13%;
  border-radius: 20px;
  
}
.home-btn4:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}
.home-btn4-4 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 10.5%;
  border-radius: 20px;
}
.text-h1-4-4 {
  font-size: 3rem;
  align-items: center;
  padding: 15 10%;
  font-weight: 20;
  text-align: center;
}
.text-h1-4-4 a {
  color: #EDDDDD;
}

.home-btn4-4:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}



.text-h1-5 {
  font-size: 3rem;
  align-items: center;
  padding: 20%;
  font-weight: 20;
  text-align: center;
}


.home-btn5 .p1{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 80px;
  border-radius: 20px;
  color: #EDDDDD;
}


.home-btn5 div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}


.text-h1-6 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  padding: 13%;
  font-weight: 20;
  text-align: center;
}
.home-btn6 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5% 18%;
  border-radius: 20px;
  color: #EDDDDD;
}
.home-btn6:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}
.home-btn6-6 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4% 13.5%;
  border-radius: 20px;
  color: #EDDDDD;
}
.text-h1-6-6 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;

  font-weight: 20;
  text-align: center;
}

.home-btn6-6:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}

.home-btn6-6-6 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5% 18%;
  border-radius: 20px;
  color: #EDDDDD;
}
.text-h1-6-6-6 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  padding: 13%;
  font-weight: 20;
  text-align: center;
}

.home-btn6-6-6:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}



.text-h1-7 {
  font-size: 3rem;
  color: #EDDDDD;
  align-items: center;
  padding: 23% 10%;
  font-weight: 20;
  text-align: center;
}

.text-h1-7:hover {
  cursor: pointer ;
}
.home-btn7 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5% 15%;
  border-radius: 20px;
}
}
.btn {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 10% 0 10% 0;
}
.btn:hover {
  font-size: 30px;
  background-color:rgba(255, 255, 255, 0.2);
  transition: all 0.8s;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  text-align: center;
  margin-top: 10%;
  
  
}
.menu .box-container .box {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding:3rem;
  cursor: pointer;
  background-color: #141414   ;
  border-radius:3%;
}


.menu .box-container .box:hover {
  background-color: #080808;
  cursor: default;
  transition:all 0.8s;
}
.menu .box-container .box img {
width: 400px;
height: 350px;
}

/*Depoimento1
.depoimento3 {
  background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 40%, transparent 65%);
}*/ 
.nick1 {
  width: 100%; 
  height: 53rem ;
  text-align: left;
  padding: 2rem ;
  margin-top: 100px; 
 
}


.nick1-1 h1 {
  color: white;
  font-size: 49px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000;
  
}
.nick1 h3 {
  color: white;
  margin-left: 100px;
  margin-top: 45px;
  font-size: 35px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000;
  
}
.containern1 {
  display: flex;
  justify-content: space-between;
}
.nick1 .ntexto3 {
  margin-top: 90px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 50px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.nick1 img {
  filter: grayscale(100%);
  width: 650px;
  height: 450px;
 margin-right: 180px;
 margin-top: 70px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111 ;
 border-radius: 7px;
 
 
}
.nick2 {
  width: 100%; 
  height: 53rem ;
  
 
}

.containern2 {
  display: flex;
  justify-content: space-between;

}
.nick2 .ntexto3-2 {
  margin-top: 70px;
  color: white;
  font-size: 30px;
  width: 600px;
 height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
 
}
.containern2 div {
  margin-right: 10%;
}
.nick2 .ntexto3-2-2 {
  margin-top: 15%;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  margin-right: 10px;
}
.nick2 img {
  
  width: 650px;
  height: 500px;
  margin-top: 8%;
  margin-left: 5%;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000;
 border-radius: 7px;
 display: flex;
 
 
}
.nick3{
  width: 100%;
  height: 53rem;
 
}
.containern3 {
  display: flex;
  justify-content: space-between;
}
.nick3 .ntexto3-3 {
  margin-top: 150px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.nick3 img {
  filter: grayscale(100%);
  width: 580px;
  height: 530px;
 margin-right: 180px;
 margin-top: 110px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111,15px 15px 15px #222 ;
 border-radius: 7px;

 
}
.nick4 {
  width: 100%; 
  height: 53rem ;
  
 
}

.containern4 {
  display: flex;
  justify-content: space-between;

}
.nick4 .ntexto4-2 {
  margin-top: 70px;
  color: white;
  font-size: 30px;
  width: 600px;
 height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
 
}
.containern4 div {
  margin-right: 10%;
}
.nick4 .ntexto4-2-2 {
  margin-top: 15%;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  margin-right: 10px;
}
.nick4 img {
  
  width: 650px;
  height: 500px;
  margin-top: 8%;
  margin-left: 5%;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000;
 border-radius: 7px;
 display: flex;
 
 
}
.nick5 {
  width: 100%; 
  height: 53rem ;
 
}
.containern5 {
  display: flex;
  justify-content: space-between;
  
}
.nick5 .ntexto5 {
  margin-top: 210px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.nick5 img {
  filter: grayscale(100%);
  width: 650px;
  height: 450px;
 margin-right: 180px;
 margin-top: 170px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111 ;
 border-radius: 7px;
 
 
}

.nick6 {
  width: 100%; 
  height: 53rem ; 
   
}
.containern6 {
  display: flex;
  justify-content: space-between;
}
.nick6 .ntexto6 {
  margin-top: 90px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-right: 200px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.nick6 img {
  filter: grayscale(100%);
  width: 450px;
  height: 450px;
 margin-left: 100px;
 margin-top: 180px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111 ;
 border-radius: 7px;
 
 
}

/*Depoimento2*/

.gab1 {
  width: 100%; 
  height: 53rem ;
  
 
}
.gab1-1 {
  text-align: left;
  padding: 2rem ;
  margin-top: 100px; 
  
}

.gab1-1 h1 {
  color: white;
  font-size: 45px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000;

}
.gab1 h3 {
  color: white;
  margin-left: 150px;
  margin-top: 45px;
  font-size: 35px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000;
  
}
.containerg1 {
  display: flex;
  justify-content: space-between;
}
.gab1 .gtexto3 {
  margin-top: 120px;
  color: white;
  font-size: 30px;
  width: 500px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 50px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.gab1 img {
  filter: grayscale(100%);
  width: 650px;
  height: 450px;
 margin-right: 180px;
 margin-top: 70px;
 box-shadow:5px 5px 2px #008, 5px 5px 10px #008,15px 15px 10px #008,15px 15px 10px #008 ;
 border-radius: 7px;
 
 
}
.gab2 {
  width: 100%; 
  height: 53rem ;
  
 
}

.containerg2 {
  display: flex;
  justify-content: space-between;

}
.gab2 .gtexto3-2 {
  margin-top: 70px;
  color: white;
  font-size: 30px;
  width: 700px;
 height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
 
}
.containerg2 div {
  margin-right: 10%;
}
.gab2 .gtexto3-2-2 {
  margin-top: 13%;
  color: white;
  font-size: 30px;
  width: 700px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  margin-right: 10px;
  
}
.gab2 img {
  
  width: 650px;
  height: 500px;
  margin-top: 8%;
  margin-left: 5%;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000;
 border-radius: 7px;
 display: flex;
 
 
}
.gab3{
  width: 100%;
  height: 53rem;
 
}
.containerg3 {
  display: flex;
  justify-content: space-between;
}
.gab3 .gtexto3-3 {
  margin-top: 180px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.gab3 img {
  filter: grayscale(100%);
  width: 580px;
  height: 530px;
 margin-right: 180px;
 margin-top: 110px;
 box-shadow:5px 5px 2px #111, 5px 5px 2px #111,15px 15px 10px #111,15px 15px 15px #111 ;
 border-radius: 7px;

 
}
.gab5 {
  width: 100%; 
  height: 53rem ;
 
}
.containerg5 {
  display: flex;
  justify-content: space-between;
  
}
.gab5 .gtexto5 {
  margin-top: 210px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  
}
.gab5 img {
  filter: grayscale(100%);
  width: 650px;
  height: 450px;
 margin-right: 180px;
 margin-top: 170px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111 ;
 border-radius: 7px;
 
 
}

/*Depoimento3*/


.josue1 {
  width: 100%; 
  height: 53rem ;
 
}
.josue1-1 {
  text-align: left;
  padding: 2rem ;
  margin-top: 100px; 
  
}

.josue1-1 h1 {
  color: white;
  font-size: 46px;
  text-shadow: 20px 20px 20px #000, 25px 25px 25px #000, 20px 20px 20px #000, 5px 5px 5px #000;

}
.josue1 h3 {
  color: white;
  margin-left: 100px;
  margin-top: 45px;
  font-size: 35px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000;
  
}
.containerj1 {
  display: flex;
  justify-content: space-between;
}
.josue1 .jtexto3 {
  margin-top: 110px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 50px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
  
}
.josue1 img {
  filter: grayscale(100%);
  width: 650px;
  height: 450px;
 margin-right: 180px;
 margin-top: 70px;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000 ;
 border-radius: 7px;
 
 
}
.josue2 {
  width: 100%; 
  height: 53rem ;
  
 
}

.containerj2 {
  display: flex;
  justify-content: space-between;

}
.josue2 .jtexto3-2 {
  margin-top: 70px;
  color: white;
  font-size: 30px;
  width: 600px;
 height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
 
}
.containerj2 div {
  margin-right: 10%;
}
.josue2 .jtexto3-2-2 {
  
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
  margin-right: 10px;
}
.josue2 img {
  
  width: 650px;
  height: 500px;
  margin-top: 8%;
  margin-left: 5%;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000;
 border-radius: 7px;
 display: flex;
 
 
}
.josue3{
  width: 100%;
  height: 53rem;
  
 
}
.containerj3 {
  display: flex;
  justify-content: space-between;
}
.josue3 .jtexto3-3 {
  margin-top: 250px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
  
}
.josue3 img {
  filter: grayscale(100%);
  width: 580px;
  height: 530px;
 margin-right: 180px;
 margin-top: 180px;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000,15px 15px 15px #222 ;
 border-radius: 7px;
}
.josue4 {
  width: 100%; 
  height: 53rem ;
  
 
}

.containerj4 {
  display: flex;
  justify-content: space-between;

}
.josue4 .jtexto4-2 {
  margin-top: 70px;
  color: white;
  font-size: 30px;
  width: 600px;
 height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
 
}
.containerj4 div {
  margin-right: 10%;
}
.josue4 .jtexto4-2-2 {
  margin-top: 10%;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  text-shadow: 25px 25px 25px #000, 25px 25px 25px #000, 25px 25px 25px #000; 
  margin-right: 10px;
}
.josue4 img {
  
  width: 650px;
  height: 500px;
  margin-top: 8%;
  margin-left: 5%;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000;
 border-radius: 7px;
 display: flex;
 
 
}
.josue5 {
  width: 100%; 
  height: 53rem ;
  
}
.containerj5 {
  display: flex;
  justify-content: space-between;
  
}
.josue5 .jtexto5 {
  margin-top: 180px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
  
}
.josue5 img {
  filter: grayscale(100%);
  width: 650px;
  height: 450px;
 margin-right: 180px;
 margin-top: 170px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111 ;
 border-radius: 7px; 
}

.josue6 {
  width: 100%; 
  height: 53rem ;
  
}

.containerj6 {
  display: flex;
  justify-content: space-between;

}
.josue6 .jtexto6-2 {
  margin-top: 210px;
  color: white;
  font-size: 30px;
  width: 600px;
 height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
 
}
.containerj6 div {
  margin-right: 10%;
}
.josue6 .jtexto6-2-2 {
  margin-top: 15%;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
  margin-right: 10px;
}
.josue6 img {
  
  width: 650px;
  height: 500px;
  margin-top: 8%;
  margin-left: 5%;
 box-shadow:5px 5px 2px #000, 5px 5px 10px #000,15px 15px 10px #000;
 border-radius: 7px;
 display: flex;
 
 
}
.josue7{
  width: 100%;
  height: 53rem;
 
}
.containerj7 {
  display: flex;
  justify-content: space-between;
}
.josue7 .jtexto7 {
  margin-top: 250px;
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  line-height: 45px;
  word-spacing: 1px;
  margin-left: 80px;
  text-shadow: 20px 20px 20px #000, 20px 20px 20px #000, 20px 20px 20px #000; 
  
}
.josue7 img {
  filter: grayscale(100%);
  width: 580px;
  height: 530px;
 margin-right: 180px;
 margin-top: 110px;
 box-shadow:5px 5px 2px #111, 5px 5px 10px #111,15px 15px 10px #111,15px 15px 15px #222 ;
 border-radius: 7px;
}


#sobre_nos {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #110c0c;
}
.titulo_sobre{
 text-align: center;
 padding-top: 70px ;
 margin-bottom: 50px;
 
}
.container_sobre {
  width: 80%;
  color: #fff;
  margin: 0 auto;
  padding:110px 100px 1px 110px;
  background-color:#33333370;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.img_naty {
  border-radius: 50%;
  width: 175px;
  height: 180px;
  margin-right: 20px;
}
.img_deyd {
  border-radius: 50%;
  width: 175px;
  height: 180px;
  margin-right: 20px;
}
.profile-info {
  max-width: 600px;
  text-align: center;
}

.profile-info p {
  margin: 10px 100px;
  font-size: 25px;
  color: #fff;
  line-height: 32px;
  text-align: justify;
  width: 800px;
  
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 13px 46%;
  position: absolute;
}